/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

:root{
  --ff-primary: "Lato", sans-serif;
  --ff-accent: "Roboto", sans-serif;
}

.navbar{
  padding: 1.5% 14%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(background.png);
  color: white;
}


.logo{
  width: 60px;
  height: 60px;
}

.navbar-links{
  height: 100%;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li a{
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: var(--clr-neutral-800);
}

.navbar .logo a{
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: white;
}

.navbar-links li:hover{
  background-color: #555;
}

.toggle-button {
  position: absolute;
  vertical-align: middle;
  top: 1.1rem;
  right: 3rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 33px;
  height: 24px;
  color: white;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--clr-neutral-800);
  border-radius: 10px;
}

/* @media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
} */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
footer,
p {
margin: 0;
font-family: var(--ff-primary);
}

h1{
  font-size: 8rem;
  font-weight: 600;
}

h2{
  font-size: 2rem;
}

h3{
  padding: 1vw 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.main-title{
  padding: 5%;
  text-align: center;
}

.container .box{
  padding: 0 10%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.container .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container .box .dream img{
  width: 100%;
  padding: 20px 5px;
  transition: 0.2s linear;
}

@media only screen and (max-width: 769px){
    .container .box{
   flex-direction: column;
  }

.container .box .dream{
  width: 100%;
}
}

@media only screen and (max-width: 643px){
.container .heading{
  width: 100%;
}
.container .heading h3{
  font-size: 1em;

}
}

.popup-image{
    position: fixed;
    top:0; left:0;
    background: rgba(0,0,0,0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-image span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 50px;
    font-weight: 10px;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    height: 70%;
    object-fit: cover;
}

@media (max-width: 900px) {
    .popup-image img{
        width: 50%;
    }
}

.gallery-content:hover{
    transform: scale(1.03);
}

.bg-crystal{
  margin-top: 3%;
  padding: 3% 14%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(background.png);
  color: white;
  text-align: center;
}